body,
html {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--secondary-color);
}

.cardMain {
  background-color: var(--card-bg-color);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
}

input.form-control[aria-label="search-bar"] {
  border-radius: 12px !important;
  font-family: var(--secondaryFont) !important;
  font-size: var(--lead) !important;
}

.btnAdd {
  background-color: var(--primary-color);
  border-radius: 12px;
  font-family: var(--secondaryFont);
  font-size: var(--lead);
  color: var(--text-color-light);
  padding-block: 0.3rem;
  padding-inline: clamp(1rem, 5vw, 3.5rem);
}

button.btn.btnAdd:hover {
  background-color: var(--btn-hover1) !important;
  color: white !important;
}

select.form-select {
  border-radius: 12px !important;
  font-family: var(--secondaryFont) !important;
  font-size: var(--lead) !important;
  color: var(--text-color-dark);
}

.search {
  width: 100%;
}

.menu-item {
  background-color: var(--card-bg-color);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  max-width: 14rem;
  margin: 0 auto;
  font-family: var(--secondaryFont);
  font-size: var(--lead);
  color: var(--text-color-dark);
}

.menu-item:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}

.menu-img {
  max-height: 150px;
  object-fit: contain;
  width: 100%;
}

.menu-name,
.menu-price {
  word-wrap: break-word;
  text-align: center;
}

.btn-dropdown {
  background-color: var(--primary-color);
  border-radius: 12px;
  font-family: var(--secondaryFont);
  font-size: var(--lead);
  color: var(--text-color-light);
}

.btn-dropdown.show,
.btn-dropdown:active {
  background-color: var(--primary-color) !important;
  color: var(--text-color-light) !important;
}

button.btn.btn-dropdown:hover {
  background-color: var(--btn-hover1) !important;
  color: white !important;
}
.dropdown-item {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #4a2800;
  color: #fff;
}

.btn-sm {
  background-color: var(--primary-color);
  border-radius: 12px;
  font-family: var(--secondaryFont);
  color: var(--text-color-light);
}

.btn-del {
  background-color: var(--text-color-dark);
  border-radius: 12px;
  font-family: var(--secondaryFont);
  color: var(--text-color-light);
}

.btn-sm,
.btn-del {
  width: clamp(70px, 90px, 100px);
  text-align: center;
  white-space: nowrap;
}

.btn-sm:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}

button.btn.btn-sm:hover {
  background-color: var(--btn-hover1) !important;
  color: white !important;
}

button.btn.btn-del:hover {
  background-color: var(--btn-hover2) !important;
  color: white !important;
}

.btn-sm.show,
.btn-sm:active {
  background-color: var(--primary-color) !important;
  color: var(--text-color-light) !important;
}

.modalText {
  font-family: var(--secondaryFont);
  color: var(--text-color-dark);
}

#updateToast.updateToast {
  background-color: var(--text-color-dark) !important;
  color: var(--text-color-light) !important;
}

@media (max-width: 576px) {
  .btnAdd {
    display: block;
    width: 100%;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .btnAdd {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }
}


.swal2-border-radius {
  border-radius: 12px; 
}

 /* option.option-hover:hover {
  background-color: var(--primary-color);
  color: #fff;
} */

.swal2-confirm-radius, .swal2-cancel-radius{
  border-radius: 12px;
}
.ui-autocomplete {
  z-index: 2000; 
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}
.ui-menu-item-wrapper.ui-state-active {
  background: var(--primary-color)!important;
  color: #fff;
}