body,
html {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--secondary-color);
}

.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
}

.cardMain {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  background-color: var(--card-bg-color);
}

.categorybtn,
.categorybtn-active {
  border: 2px solid #c4a277;
  color: #c4a277;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  padding: 6px 16px;
}

.categorybtn-active {
  background-color: #c4a277;
  color: white;
}

.categorybtn:hover {
  background-color: #c4a277;
  color: white;
  cursor: pointer;
}

.orderCard {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  background-color: var(--card-bg-color);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}


.btn-dropdown {
  background-color: var(--primary-color);
  border-radius: 12px;
  font-family: var(--secondaryFont);
  font-size: var(--lead);
  color: var(--text-color-light);
  width: 100%;
}

.btn-dropdown.show,
.btn-dropdown:active {
  background-color: var(--primary-color) !important;
  color: var(--text-color-light) !important;
}

button.btn.btn-dropdown:hover {
  background-color: var(--btn-hover1) !important;
  color: white !important;
}

.dropdown-item {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-item:hover {
  background-color: var(--btn-hover1);
  color: #fff;
}

.btnAccept {
  background-color: var(--primary-color);
  border-radius: 12px;
  font-family: var(--secondaryFont);
  font-size: var(--lead);
  color: var(--text-color-light);
  width: 100%;
}

.btnDecline {
  background-color: var(--secondary-color);
  border-radius: 12px;
  font-family: var(--secondaryFont);
  font-size: var(--lead);
  color: var(--text-color-dark);
  width: 100%;
}

button.btn.btnAccept:hover {
  background-color: var(--btn-hover1) !important;
  color: white !important;
}

button.btn.btnDecline:hover {
  background-color: var(--text-color-dark) !important;
  color: white !important;
}
