body,
html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
    font-family: var(--primaryFont);
    background-color: var(--bg-color);
}


.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color)
}

.maincontainer {
    height: 100%;
    display: flex;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    background-color: var(--card-bg-color)
}

.maincontainer::-webkit-scrollbar {
    width: 6px;
}

.maincontainer::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}

.maincontainer::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 3px;
}

.maincontainer::-webkit-scrollbar-thumb:hover {
    background: var(--btn-hover1);
}

.maincontainer {
    scroll-behavior: smooth;
}

.menu-item {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.topcontainer,
.receiptCard {
    height: auto;
    background-color: var(--card-bg-color);
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
    line-height: .5;
}

.flex-fill {
    min-width: 0 !important;
}

.d-flex.flex-column.flex-lg-row {
    min-width: 0 !important;
}

.category-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;

}

.category-scroll::-webkit-scrollbar {
    display: none;
}

.category-pill {
    min-width: 120px;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color-light);
    font-weight: 600;
    font-family: var(--primaryFont);
    font-size: var(--lead);
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
    scroll-snap-align: start;
    flex-shrink: 0;
    flex: 0 0 auto;
    scroll-snap-align: start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.category-pill:hover {
    background-color: var(--btn-hover1);
    border: 2px solid var(--btn-hover1);
}

.category-pill.active {
    background-color: var(--btn-hover1);
    color: var(--text-color-light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 0px solid var(--primary-color);
}

.menu-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-item.no-options {
    justify-content: center;
}

.menu-item.has-options {
    justify-content: space-between;
}


.menu-item img {
    max-height: 170px;
    min-height: 120px;
    align-self: center;
}

.btnOrder {
    border-radius: 12px;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    font-family: var(--primaryFont);
    font-size: var(--lead);
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.btnOrder:hover,
.btnConfirm:hover,
.btnCancel:hover {
    background-color: var(--btn-hover1);
    color: var(--text-color-light);
}

.btnConfirm {
    border-radius: 12px;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    font-family: var(--primaryFont);
    font-size: var(--lead);
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}


.btnCancel:hover {
    background-color: var(--gray);
    color: var(--text-color-light);
}

.btnCancel {
    border-radius: 12px;
    color: var(--text-color-light);
    background-color: var(--btn-hover1);
    font-family: var(--primaryFont);
    font-size: var(--lead);
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}


@media (max-width: 576px) {
    .category-pill {
        min-width: 100px;
        padding: 8px 16px;
    }
}

.product-img {
    width: 100%;
    height: auto;
    max-height: 120px;
    object-fit: contain;
    border-radius: 8px;
}

.product-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    font-size: 12px;
    margin-top: 5px;
}


@media (max-width: 992px) {
    .product-card {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .product-card {
        width: 100%;
    }
}



.line-divider {
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-outline-dark {
    border-color: var(--btn-hover1);
}

.btn-outline-dark:hover {
    background-color: var(--primary-color);
    color: var(--text-color-light)
}

.btn-dark {
    background-color: var(--btn-hover1);
    color: var(--text-color-light);
    border-radius: 12px;
}

.btn-dark:hover {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: 0px solid var(--primary-color);
}

.btn-dark-order {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border-radius: 12px;
}

.btn-dark-order:hover {
    background-color: var(--btn-hover1);
    color: var(--text-color-light);
    border: 0px solid var(--primary-color);
}

.btn-dark-cancel {
    background-color: var(--btn-hover1);
    color: var(--text-color-light);
    border-radius: 12px;
}

.btn-dark-cancel:hover {
    background-color: var(--gray);
    color: var(--text-color-light);
    border: 0px solid var(--primary-color);
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
}

select option:hover {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    cursor: pointer;
}


.dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    cursor: pointer;
}

.swal2-icon.swal2-success {
  border-color: var(--primary-color) !important; /* Outer circle color */
  color: var(--primary-color) !important;        /* Tick mark color */
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: var(--primary-color) !important; /* Success ring color */
}

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: var(--primary-color) !important; /* Tick line color */
}

/* Remove arrows in Chrome, Edge, Safari */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media (min-width: 992px) {
    .receipt-container {
        min-width: 400px;
    }
}

@media (min-width: 768px) {
    .offcanvas {
        background: var(--card-bg-color);
        box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
        width: 320px !important;
        border-radius: 0 20px 20px 0;
        border: 1px solid var(--secondary-color);
    }

    .offcanvas-header {
        padding: 1.5rem;
        border-bottom: none;
    }

    .offcanvas-body {
        padding: 0 1.5rem 1.5rem 1.5rem;
        overflow-y: auto;
    }

    .offcanvas-body::-webkit-scrollbar {
        width: 6px;
    }

    .offcanvas-body::-webkit-scrollbar-track {
        background: transparent;
    }

    .offcanvas-body::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 3px;
    }

    .offcanvas-body::-webkit-scrollbar-thumb:hover {
        background: var(--btn-hover1);
    }
}

/* Hide mobile sidebar elements on large screens */
@media (min-width: 768px) {
    .sidebar-overlay {
        display: none !important;
    }

    .admin-sidebar {
        display: none !important;
    }

    .mobile-header {
        display: none !important;
    }
}

.btn-close {
    color: var(--text-color-dark);
    font-size: 2rem;
    border: none;
    background: transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 1;
}

.btn-close:hover {
    color: var(--primary-color);
    transform: rotate(90deg);
    opacity: 1;
}